# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
ScratchQuotes = ScratchQuotes.settings
# default = ${project_name}.settings

[deploy]
#url = http://localhost:6800/
project = ScratchQuotes
# project = ${project_name}
